data/sensors
data/old
data/SMHI/*
data/*.csv
data/
scripts/old
model/old
model/saved
model/results
model/kfold_results
model/.ipynb_checkpoints
old/
plotting/plots/
#misc/specs.json
nn_models/old
nn_models/results